.row
  .large-2.columns
  .large-8.columns
    %h1 Just Duet!
    -if !user_signed_in?
      %h3= link_to "sign in", user_omniauth_authorize_url(:spotify), id: "sign-in-link"
    -else
      %h5= link_to "sign out", destroy_user_session_path, method: :delete

.row#show-all-users
  .large-1.columns
  .large-10.columns
    -if user_signed_in?
      %ul.large-block-grid-3
        %table
          -@user.favorites do |user|
            -if current_user != user
              %tr
                %td
                  %li= link_to(image_tag(user.image), user_path(user))
                %td
                  %h3= user.display_name
                  %span= user.age

