#add-email
  %h1.page-title Finish your profile
  = form_for(current_user, :as => 'user', :url => finish_signup_path(current_user), :html => { role: 'form'}) do |f|
    -if @show_errors && current_user.errors.any?
      .error-explanation
        -current_user.errors.full_messages.each do |msg|
          = msg
    .form-group
      .controls
        = f.label :display_name
        = f.text_field :display_name, value: current_user.display_name, placeholder: 'What would you like to be called?', required: ''
      .controls
        = f.label :email
        = f.email_field :email, value: current_user.email, placeholder: 'Please provide an Email!', required: '', id:'email-input'

      =render 'shared/form_part', f: f, user: current_user

    .actions
      %input#submit{:class => "submit-button button small", :name => "submit", :type => "submit", :value => "Continue"}/

