.row.user-profile
  .medium-8.columns
    %img.profpic{src: @user.image.url(:square_100)}
    .top-info
      %h3.user-name= @user.display_name
      = form_tag(favorites_path, method: 'post') do
        = hidden_field_tag :target_id, @user.id
        = submit_tag "favorite", class: 'button'
    .bio-info
      %h4 About #{@user.display_name}
      %p #{@user.age}, #{@user.location.capitalize}
      %p #{@user.gender.capitalize} looking for #{@user.interested_in.capitalize}s
      %h4 Bio
      %p= @user.bio
  -if @user != current_user
    .medium-4.columns.match-info
      %h3.score score: #{@match.score}
      .shared-artists
        %h3 shared artists
        %ul
          -@match.sample(:artists).each do |artist|
            %li= artist
      .shared-genres
        %h3 shared genres
        %ul
          -@match.sample(:genres).each do |genre|
            %li= genre
      .shared-tracks
        %h3 shared tracks
        %ul
          -@match.sample(:tracks).each do |track|
            %li= track
  -if @user == current_user
    = link_to "edit your profile", edit_user_registration_path, class: 'button'

