.row
  .large-2.columns
  .large-10.columns
    -if user_signed_in?
      %img{src: @user.image}
      %h4 I am #{@user.display_name || @user}
      %p I'm #{@user.age} years old
      %p I'm #{@user.gender.capitalize} and I'm looking for #{@user.interested_in.capitalize}
      %p I live closest to #{@user.location}
      %p A little about me... #{@user.bio}
