-if user_signed_in?
  .row#show-all-users
    %h2.page-title Music Lovers Near You
    -@users.each do |user|
      .your-match.row
        .small-10.columns
          =image_tag(user.image.url(:square_100))
          .user-info
            %h3= link_to user.display_name, user_path(user)
            %span #{user.age}, #{user.location.capitalize}
        .small-2.columns
          %h3= user.match_with(current_user)
-else
  .welcome
    .innerwelcome
      %h3#welcometitle Welcome to Just Duet
      %h3#byline a dating site
      %br
      %br
      %br
      %br
      %h3#signuplink= link_to(image_tag("loginbutton.png",id:"loginbutton"), user_omniauth_authorize_url(:spotify), id: "sign-in-link")
