<!DOCTYPE html>
<html>
<head>
  <title>Getdated</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Bitter:400,700|Raleway' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  <% if !current_page? finish_signup_path(current_user) %>
    <%= render 'shared/nav_bar' %>
  <%end%>
<% else %>
  <%= render 'shared/nav_bar' %>
<%end%>

<div class="row master-row">
<div class="small-12 column everything">

<h2 class="notice"><%= flash[:notice] %></h2>
<h2 class="alert"><%= flash[:alert] %></h2>

<%= yield %>

</div>
</div>
</body>
</html>
